*:not(input):not(textarea) {
    -webkit-user-select: none !important;
            user-select: none !important;
          outline-style: none !important;
  }

.home{
    background-image: url('../image/woodbackground.jpg') !important;
}

header {
    background-color: #bd7e4a;
}

th, td{
    background-color: #bd7e4a !important;
    border-color: black;
}

footer {
    background-color: #bd7e4a;
}

.cim {
    background-color: #bd7e4a !important;
}

.brown {
    background-color: #bd7e4a;
    color: black;
    border: 1px solid black;
    font-size: 30px;
}
.card{
    background-color: #bd7e4a;
}
.modal-body{
    background-color: #bd7e4a !important;
}
.modal-header, .modal-footer{
    background-color: #bd7e4a;
    border-bottom:#bd7e4a solid;
    border-top: #bd7e4a solid;
}
.blog-img{
    border: 1px solid #bd7e4a;
    border-radius: 5px;
}